.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: calc(100% - 20px);
  bottom: 0px;
}
.input_div{
  background-color: white;
  margin: 0;
}
.input{
  margin-left: 10px;
  width: 1050px;
}
.send_btn{
  width: 100px;
}

#compose_input{
  width: 1100px;
  font-size: 14px;
  height: 40px;
  border: none;
}

.compose_input::placeholder {
  opacity: 0.3;
}