
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



.grid-container {
    display: grid;
    grid-column-gap: 30px;
    
    grid-template-columns: 30px 180px auto 30px;
    
    
    align-content: space-around;
    
  }

  .grid7-container {
    display: grid;
    grid-column-gap: 30px;
    
    grid-template-columns: 70px 200px auto 30px;
    
    border-radius:60px;
    align-content: space-around;
    
  }


  .grid2-container{

    display: grid;
    grid-column-gap: 200px;
    
    grid-template-columns: auto auto auto;
    
    
    align-content: space-around;
    

  }

  .grid10-container{

    display: grid;
    grid-column-gap: 20px;
    
    grid-template-columns: 200px 200px 200px;
    
    
    align-content: space-around;
    

  }

  .grid3-container{

    display: grid;
    grid-column-gap: 20px;
    
    grid-template-columns: 320px 400px;
    
    
    align-content: space-around;
    

  }
.heading{

    letter-spacing: 10px;
    font-size: 60px;
    background-color:rgb(6, 170, 14);
    color:white;
    width:500px;

    
}
/*
.navigationlist {
     margin: 0;
    padding: 0;
    width: 180px;
    margin-top: 6rem;
    background-color: #f1f1f1;
   
  }
  .list1{

    
    list-style-type: circle;
    
    padding:0;
    text-align: left;
    font-family: 'Lato', sans-serif;

  }
  .item{
    display: block;
    
    padding: 0;
    
    font-size:30px;
    font-family: 'Lato', sans-serif;

  }
  */
  ul {
    list-style-type: circle;
    
        
  }
  .listhead{

    font-size: 32px;
text-align:left;
color: #333333;

    font-family: 'Lato', sans-serif;
  }

  .listtitle{
text-align:left;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
  }
  .tabu{

    font-family: 'Lato', sans-serif;
    font-size:'40px'  
  }
  .ques{

    font-family: 'Lato','sans-serif';
font-style: normal;
font-weight: bold;
height:40px;
font-size: 32px;
line-height: 38px;
text-align:left;
color: #333333; 


  }
  .search{

    font-family: 'Lato','sans-serif';
font-style: normal;
font-weight: bold;
height:0px;
font-size: 32px;

text-align:left;
color: #124034; 


  }
  .likesv{
    text-align:left;
  }
  .avatar{
    float:left;
  }
  .icon1{
    float:left;
  }

  .quesauthor{
    font-family: Lato;
    padding-left:1px;
    height:38px;
    font-style:normal;
    font-weight: normal;
    font-size: 24px;
    text-align:left;
    line-height: 29px;
    color: #333333;

  }

  .answer{

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    height:30px;
    text-align:left;
    line-height: 19px;
    color: #4F4F4F;
  }
  .date{

    font-family: 'Lato','sans-serif';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align:left;
  }

  .uni{

    
    border-radius: 10px;
    border: 2px solid #E8B32C;
  }

  .unis{

    
    border-radius: 10px;
    border: 2px solid #2CE89A;
  }
  .unir{

    
    border-radius: 10px;
    border: 2px solid #E84B2C;
  }
  .unidet{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 3px;
text-align: center;

/* Grey-Very Dark */

color: #124034;
  }
  
  

  @media screen and (orientation: portrait) {
    .imagenew { 
      position:absolute;
    top:160px;
    left:10px;
    
    
    }
    .buttonprof1{

      position:relative;
      left:350px;
      top:-100px;

    }
    .personname2{

      position:relative;
        
      left:85px;
      
      

    }
    .icons{

      position:relative;
      top:140px;
      left:-370px;
    }
    .persontitle2{

      position: relative;
      left:85px;
      top:30px;
    }
    .persondesc2{

      position: relative;
      top:50px;
      left:80px;
      font-size:8px;
    }
    .basic{

      height:auto;
    }
    .buttonprof{
  position:relative;
  left:100px;
  top:-40px;
}
.personname3{
  position:relative;
  left:15px;
}
.persontitle4{
  position:relative;
  left:15px;
}
.persondesc4{
  position:relative;
  left:15px;
}
.imagenew1{
  position:relative;
  left:10px;
  
}


  }

.imagenew{

    border-radius: 50%;
    height:200px;
    width:200px;

    float: right;
    
    
    
    
    
}
.imagenew1{

    border-radius: 50%;
    height:70px;
    width:70px;
    
    float:right;
    position:relative;
    top:-35px;
}
.total1{

   
}
.headers{
  font-style: normal;
font-weight: bold;
justify-self: normal;
font-size: 48px;
line-height: 58px;
color: #124034;
text-align: left;
font-family: 'Lato', sans-serif;

}
.un{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 40px;
text-align: left;

/* Grey-Very Dark */

color: #124034;
}
.ud{
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 40px;
color: #4F4F4F;
text-align:left;
}
.personname2{
height:40px;
top:0px;
    
font-style: normal;
font-weight: bold;
justify-self: normal;
font-size: 48px;
line-height: 58px;
color: #124034;
text-align: left;
font-family: 'Lato', sans-serif;
}

.persontitle2{


 height:30px; 
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 38px;
text-align: left;
font-family: 'Lato', sans-serif;
/* Grey-Very Dark */

color: #124034;
}
.personname3{
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 6px;
text-align:left;
color: #333333;
}
.personname4{
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 30px;
text-align:left;
color: #333333;
}

.persontitle4{

  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 4px;
color: #828282;
text-align:left;
}
.persontitle3{

  
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* Grey-Very Dark */
    
    color: #124034;
    }
    
    .coursedesc{

      text-align: left;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;

line-height: 29px;
font-family: 'Lato', sans-serif;
color: #496961;
    }
.persondesc2{

    text-align: left;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;

line-height: 29px;
font-family: 'Lato', sans-serif;

/* Grey-Dark */

color: #496961;

}
.persondesc4{

    text-align: left;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;

line-height: 29px;
font-family: 'Lato', sans-serif;

/* Grey-Dark */

color: #496961;

}

.persondesc3{

    text-align: center;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
font-family: 'Lato', sans-serif;

/* Grey-Dark */

color: #496961;

}

.application{

    background: #FFFFFE;
/* Waiting Yellow */

border: 2px solid #E8B32C;
padding: 5px;
box-sizing: border-box;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.coursename{

    font-weight: normal;
font-size: 29px;
line-height: 29px;
color: #124034;
text-align:left;
font-family: 'Lato', sans-serif;
}

.univdesc{

    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #496961;
font-family: 'Lato', sans-serif;
}

.grid4-container{

    display: grid;
    grid-column-gap: 160px;
    vertical-align: middle;
    grid-template-columns: 700px auto ;
    
    background: #FFFFFE;
/* Waiting Yellow */

border: 2px solid #E8B32C;
padding: 5px;
box-sizing: border-box;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 10px;
    align-content: space-around;
    

  }

  .buttonuniv{

    font-style: normal;
font-weight: 900;
font-size: 12.8px;
line-height: 15px;
width:100px;
height:50px;
font-family: 'Lato', sans-serif;

  }

.buttonprof{

    font-style: normal;
font-weight: 900;
font-size: 12.8px;
line-height: 15px;
width:100px;
height:50px;
font-family: 'Lato', sans-serif;

  }
.buttonprof1{

    font-style: normal;
font-weight: 900;
font-size: 12.8px;
line-height: 15px;
width:100px;
height:50px;
font-family: 'Lato', sans-serif;

  }

  .grid5-container{

    display: grid;
    grid-column-gap: 160px;
    vertical-align: middle;
    grid-template-columns: 700px auto ;

    background: #FFFFFE;


border: 2px solid #2CE89A;
padding: 5px;
box-sizing: border-box;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 10px;
    align-content: space-around;
    

  }

  .grid6-container{

    display: grid;
    grid-column-gap: 160px;
    vertical-align: middle;
    grid-template-columns: 700px auto ;

    background: #FFFFFE;


border: 2px solid #E84B2C;
padding: 5px;
box-sizing: border-box;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 10px;
    align-content: space-around;
    

  }

  .univtitle{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align:left;
    color: #124034;
    font-family: 'Lato', sans-serif;
  }

  /*CARD STYLES*/

  * {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  
  
  .aboutus{

font-size: 60px;
line-height: 10px;
letter-spacing: 5px;
  }
  .card {
    
    width:400px;
   border-style: solid;
   border-color: #46BC99;
   border-width: 2px;
   border-radius: 30px; 
    
  }
  
  .card__header,
  .card__content {
    
  }

  .card__header{
    background-color: #46BC99;

  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  .product__title{

    
    height: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__image img {
    border-radius: 50%;
    height:180px;
    width:180px;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
  }
  
  .btn1 {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
  }
  
  .btn1:hover,
  .btn1:active {
    background-color: #00695c;
    color: white;
  }
  
  