

.mess_div{
    background-color:whitesmoke;
    height: 550px;
    padding: 10px;
	margin: 0;
	overflow: auto;
}
.input_div{
    background-color: white;
    padding: 5px;
    margin: 0;
}
.input{
    margin-left: 10px;
    width: 680px;
    float: left;
}
.send_btn{
    width: 100px;
}
p,ol,ul,li{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
ol,ul{list-style:none}

.wrapper .message-content {
	height: auto;
	min-height: calc(100% - 93px);
	max-height: calc(100% - 93px);
}

.wrapper .message-content::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}
.wrapper .message-content::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
}
.wrapper .message-content ul li {
	display: inline-block;
	clear: both;
	margin: 5px 15px;
	width: calc(100% - 25px);
	font-size: 0.9em;
}
.wrapper .message-content ul li:nth-last-child(1) {
	margin-bottom: 20px;
}
.wrapper .message-content ul li.received img {
	margin: 6px 8px 0 0;
}
.wrapper .message-content ul li.received p {
	background: #fff;
	color: #111;
}
.wrapper .message-content ul li.sent img {
	float: right;
	margin: 6px 0 0 8px;
}
.wrapper .message-content ul li.sent p {
	background: #0174AD;
	float: right;
	color: #fff;
}
.wrapper .message-content ul li img {
	width: 22px;
	border-radius: 50%;
	float: left;
}
.wrapper .message-content ul li p {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 10px;
	max-width: 300px;
	word-wrap: break-word;
}
.wrapper .msg-box {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 99;
}
.wrapper .msg-box .wrap {
	position: relative;
}
.wrapper .msg-box .wrap input {

	float: left;
	border: none;
	width: calc(100% - 90px);
	padding: 11px 32px 10px 8px;
	font-size: 0.8em;
	color: #32465a;
}

.wrapper .msg-box .wrap input:focus {
	outline: none;
}

.wrapper .msg-box .wrap button {
	float: right;
	border: none;
	width: 50px;
	padding: 12px 0;
	cursor: pointer;
	background: #0174AD;
	color: #f5f5f5;
}
.wrapper .head-img {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background:#2c2c2c;
}
.wrapper .head-img img {
	width: 50px;
	border-radius: 40%;
	float: left;
	margin: 9px 12px 5px 9px;
}
.wrapper .head-img p a {
	float: left;
	text-decoration: none;
    color: white;
}